services:
  config-manager:
    image: ghcr.io/dschoepel/stats-for-strava-config-tool:latest
    container_name: stats-for-strava-config-tool
    restart: unless-stopped
    env_file:
      - .env  # Load environment variables from .env file

    volumes: 
      - ./statistics-for-strava/config:/data/statistics-for-strava/config  #Match this to your stats for strava config directory
      - ./statistics-for-strava/config/settings:/data/settings # Config tool settings
      - ./statistics-for-strava/config/backups:/data/backups # Config tool backups when editing files
      - ./statistics-for-strava/logs:/data/logs  # Application and service logs

    ports:
      - "8092:80"  # Access at http://localhost:8092

    networks:
      - statistics-for-strava-network

networks:
  statistics-for-strava-network:
    driver: bridge